p {
  margin: 0;
}

.ampmBox {
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 20px;
  width: 20px;
}

.boldFont {
  font-weight: bold;
}

.cardMainContainer {
  /* border: 3px dotted dodgerblue; */
  height: 105px;
}

.cardMainContainer > div {
  /* border: 3px solid darkorange; */
}

.cardHeaderContainer {
  margin: 16px 0px 15px 0px;
}

.dateContainer {
  height: 40px;
}

.dateContainerInner {
  width: 120px;
}

.dateContainerInner p {
  width: 120px;
  text-align: center;
}

.dateFont {
  color: #aaa;
  font-weight: 600;
  font-size: 12px;
}

.dotMakerContainer {
  border-top: 5px dotted #aaa;

  width: 100%;
}

.flexPlainCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexSpaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hideBecauseArchived {
  display: none;
}

.icon {
  height: 20px;
  width: 20px;
}

.iconContainer {
  margin-right: 10px;
}

.infoContainer {
  margin: 0px 20px;
  height: 64px;
  border: 1px solid #aaa;
  border-radius: 8px;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
}

.infoContainer * {
  font-size: 12px;
}

.infoContainerInner {
  width: 100%;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
}

.leftContainer {
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.timeContainer {
  width: 20%;
  /* border: 3px solid green; */
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
}

.thinText {
  font-weight: 400px;
  font-size: 11px !important;
}

.silentGreyText {
  font-weight: 600;
  color: #888;
}

.width100 {
  width: 100%;
}
