p {
  margin: 0;
}

.boldFont {
  font-weight: bold;
}

.cardMainContainer {
  border: 3px dotted dodgerblue;
  height: 105px;
}

.cardMainContainer > div {
  /* border: 3px solid darkorange; */
}

.dateContainer {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dateContainerInner {
  width: 120px;
}

.dateContainerInner p {
  width: 120px;
  text-align: center;
}

.dotMakerContainer {
  border-top: 5px dotted #aaa;

  width: 100%;
}

.flexBoxStandard {
  display: flex;
  flex-direction: row;
}

.flexBoxColumn {
  display: flex;
  flex-direction: column;
}

.dateFont {
  color: #aaa;
  font-weight: 600;
  font-size: 12px;
}

.icon {
  height: 20px;
  width: 20px;
}

.iconContainer {
  margin-right: 10px;
}

.infoContainer {
  margin: 0px 20px;
  height: 64px;
  border: 1px solid #aaa;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.infoContainer * {
  font-size: 12px;
}

.infoContainerInner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.leftContainer {
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.timeContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.width100 {
  width: 100%;
}
